<!DOCTYPE html>
<html lang="en">
<head>
<title>Admin</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
<link rel="stylesheet" href="/stylesheets/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="/stylesheets/uniform.css" />
<link rel="stylesheet" href="/stylesheets/select2.css" />
<link rel="stylesheet" href="/stylesheets/matrix-style.css" />
<link rel="stylesheet" href="/stylesheets/matrix-media.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link href="/font-awesome/css/font-awesome.css" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css"/>
<link rel="stylesheet" href="/stylesheets/style.css" />

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="/javascripts/datepicker.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
</head>
<body>

<!--Header-part-->
<div id="header">
  <h1><a href="/">Admin</a></h1>
</div>
<!--close-Header-part--> 


<!--top-Header-menu-->
<div id="user-nav" class="navbar navbar-inverse">
  <ul class="nav">
    <li  class="dropdown" id="profile-messages" ><a title="" href="#" data-toggle="dropdown" data-target="#profile-messages" class="dropdown-toggle"><i class="icon icon-user"></i>  <span class="text">Chào {{user.fullname}}</span><b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="/user/{{user._id}}"><i class="icon-user"></i>Thông tin cá nhân</a></li>
      </ul>
    </li>
    <li class=""><a title="" href="/auth/logout"><i class="icon icon-share-alt"></i> <span class="text">Đăng xuất</span></a></li>
  </ul>
</div>
<!--close-top-Header-menu-->

<!--sidebar-menu-->
<div id="sidebar"><a href="#" class="visible-phone"><i class="icon icon-home"></i> Trang chủ</a>
  <ul>
    <li><a class="dashboard-link" href="/"><i class="icon icon-home"></i> <span>Trang chủ</span></a> </li>
    <li><a href="/product"><i class="icon icon-th"></i> <span>Sản phẩm</span></a></li>
    <li class="submenu"> <a href="#"><i class="icon icon-th"></i> <span>Loại</span></a>
      <ul>
        {{#each listCategory}}
        <div class="sidebar-category">
          <li><a href="/category/{{_id}}">{{name}}</a></li>
        </div>
        {{/each}}
      </ul>
    </li>
    <li class="submenu"> <a href="#"><i class="icon icon-th"></i> <span>Thương hiệu</span></a>
      <ul>
        {{#each listBrand}}
        <li><a href="/brand/{{_id}}">{{name}}</a></li>
        {{/each}}
      </ul>
    </li>
    
    <li> <a href="/user"><i class="icon icon-user"></i> <span>Người dùng</span></a> </li>
    <li><a href="/order"><i class="icon icon-user"></i> <span>Đơn đặt hàng</span></a></li>
    <li class="submenu"> <a href="#"><i class="icon icon-signal"></i> <span>Thống kê</span></a>
      <ul>
        <li><a href="/statistic/sales">Doanh số</a></li>
        <li><a href="/statistic/topTenSeller">Số lượng bán</a></li>
      </ul>
  </ul>
</div>
<!--sidebar-menu-->

{{{body}}}

<!--Footer-part-->

<div class="row-fluid">
  <div id="footer" class="span12"> 2013 &copy; Matrix Admin. Brought to you by <a href="http://themedesigner.in">Themedesigner.in</a> </div>
</div>

<!--end-Footer-part-->

<script src="/javascripts/bootstrap.min.js"></script> 
<script src="/javascripts/select2.min.js"></script> 
<script src="/javascripts/matrix.js"></script> 
<script src="/javascripts/matrix.tables.js"></script>
<script src="/javascripts/excanvas.min.js"></script> 
<script src="/javascripts/matrix.dashboard.js"></script> 

</body>
</html>
