
<div id="content">
  <div id="content-header">
    <ul class="breadcrumb">
      <li><a href="/">Home</a> <span class="divider">/</span></li>
      <li class="active"><a href="{{pageLink}}">{{title}}</a></li>
    </ul>
  </div>

  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <div class="row-fluid user-infos myUsername">

          <!-- User information -->
          <div class="span8 offset1">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Thông tin người dùng</h3>
              </div>
              <div class="panel-body">
                <div class="row-fluid" style="margin: 0;">
                  <div class="span4">
                    <img class=""
                      src="{{userEdit.avatar.url}}"
                      alt="avatar-user">
                  </div>
                  <div class="span6">
                    <table class="table table-condensed table-responsive table-user-information">
                      <tbody>
                      <tr>
                          <td><strong>Tên</strong></td>
                          <td>{{userEdit.fullname}}</td>
                      </tr>
                      <tr>
                          <td><strong>Email</strong></td>
                          <td>{{userEdit.email}}</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="panel-footer" style="text-align: right;">
                {{#if isNotMyAccount}}
                  {{#if userEdit.ban}}
                  <a class="btn btn-warning" type="button"
                            href="/user/unban/{{userEdit._id}}"
                            data-toggle="tooltip"
                            data-original-title="Bỏ chặn">Bỏ chặn</a>
                  {{else}}
                  <a class="btn btn-danger" type="button"
                            href="/user/ban/{{userEdit._id}}"
                            data-toggle="tooltip"
                            data-original-title="Chặn">Chặn</a>
                  {{/if}}
                
                {{else}}
                <a class="btn btn-success" type="button"
                            href="/user/edit/{{userEdit._id}}"
                            data-toggle="tooltip"
                            data-original-title="Sửa">Sửa</a>
                {{/if}}

              </div>
            </div>
          </div>

        </div>


        </div>
    </div>
  </div>
</div>



