
<div id="content">
  <div id="content-header">
    <ul class="breadcrumb">
      <li><a href="/">Home</a> <span class="divider">/</span></li>
      <li class="active"><a href="{{pageLink}}">{{title}}</a></li>
    </ul>
  </div>

  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <div class="row-fluid user-infos myUsername">

          <!-- User information -->
          <div class="span8 offset1">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Thông tin người dùng</h3>
              </div>
              <div class="panel-body">
                <div class="row-fluid" style="margin: 0;">
                  <div class="span4">
                    <img class=""
                      src="{{userEdit.avatar.url}}"
                      alt="avatar-user">
                  </div>
                  <div class="span6">
                    <table class="table table-condensed table-responsive table-user-information">
                      <tbody>
                      <tr>
                          <td><strong>Tên</strong></td>
                          <td>{{userEdit.fullname}}</td>
                      </tr>
                      <tr>
                          <td><strong>Email</strong></td>
                          <td>{{userEdit.email}}</td>
                      </tr>
                      <tr>
                          <td><strong>Loại</strong></td>
                          {{#if userEdit.superadmin}}<td style="color: orange;"><strong>Superadmin</strong></td>
                          {{else}}
                          {{#if userEdit.is_admin}}<td style="color: red;"><strong>Admin</strong></td>
                          {{else}}<td style="color: green;"><strong>Khách hàng</strong></td> {{/if}}
                          {{/if}}
                      </tr>
                      <tr>
                        <td><strong>Trạng thái</strong></td>
                        {{#if ban}}<td style="color:red"><strong>Khóa</strong></td>
                        {{else}}<td style="color:green"><strong>Hoạt động</strong></td>{{/if}}
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="panel-footer" style="text-align: right;">
                {{#if isNotMyAccount}}      {{!-- If is not my account --}}
                  {{#if userEdit.is_admin}} {{!-- If userEdit is an admin --}}
                    {{#if user.superadmin}} {{!-- If user is superadmin --}}
                      {{#if userEdit.ban}}
                      <a class="btn btn-warning" type="button"
                                    href="/user/unban/{{userEdit._id}}"
                                    data-toggle="tooltip"
                                    data-original-title="Bỏ khóa">Bỏ khóa</a>
                      {{else}}
                      <a class="btn btn-danger" type="button"
                                href="/user/ban/{{userEdit._id}}"
                                data-toggle="tooltip"
                                data-original-title="Khóa">Khóa</a>
                      {{/if}}
                    {{/if}}

                  {{else}}  {{!-- If userEdit is not an admin --}}
                    {{#if userEdit.ban}}
                      <a class="btn btn-warning" type="button"
                                    href="/user/unban/{{userEdit._id}}"
                                    data-toggle="tooltip"
                                    data-original-title="Bỏ khóa">Bỏ khóa</a>
                      {{else}}
                      <a class="btn btn-danger" type="button"
                                href="/user/ban/{{userEdit._id}}"
                                data-toggle="tooltip"
                                data-original-title="Khóa">Khóa</a>
                    {{/if}}
                  {{/if}}
                {{else}}    {{!-- If is my account --}}
                <a class="btn btn-success" type="button"
                            href="/user/edit/{{userEdit._id}}"
                            data-toggle="tooltip"
                            data-original-title="Chỉnh sửa">Chỉnh sửa</a>
                {{/if}}

              </div>
            </div>
          </div>

        </div>


        </div>
    </div>
  </div>
</div>



