
<div id="content">
  <div id="content-header">
    <ul class="breadcrumb">
      <li><a href="/">Home</a> <span class="divider">/</span></li>
      <li class="active"><a href="{{pageLink}}">{{title}}</a></li>
    </ul>
    {{#if user.superadmin}}
    <div class="row-fluid">
      <div class="search-bar" style="margin-bottom: 20px;">
        <div class="span3">
          <div class="span6" style="text-align: start;">
            <a href="/user/add" class="btn btn-success align-items-end" style="margin-right: 40px;width: 50px;height: 20px">
              <div class="row">
                <div class="span6">
                  <i style="font-size: 21px;padding-left:10px; margin-left:15px" class="material-icons">&#xE147;</i> 
                </div>
                <div class="span6">
                  <span style="box-sizing: border-box;margin-left:5px">Thêm</span>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    {{/if}}
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <div class="widget-content nopadding">  
          <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover data-table">
            <thead>
              <tr>
                <th class="col-name" style="border: 1px solid #ddd;padding:10px">Tên</th>
                <th class="col-description" style="border: 1px solid #ddd;padding:10px">Email</th>
                <th class="col-name" style="border: 1px solid #ddd;padding:10px">Loại</th>
                <th class="col-name" style="border: 1px solid #ddd;padding:10px">Trạng thái</th>
                <th class="col-action" style="border: 1px solid #ddd;padding:10px">Chi tiết</th>
              </tr>
            </thead>
            <tbody>
              {{#each listUser}}
                <tr class="gradeA">
                <td><strong><a href="/user/{{_id}}">{{fullname}}</a></strong></td>
                <td><a href="/user/{{_id}}"></a>{{email}}</a></td>
                {{#if superadmin}}<td style="color: orange;"><strong>Superadmin</strong></td>
                {{else}}
                {{#if is_admin}}<td style="color: red;"><strong>Admin</strong></td>
                {{else}}<td style="color: green;"><strong>Khách hàng</strong></td> {{/if}}
                {{/if}}
                {{#if ban}}<td style="color:red"><strong>Khóa</strong></td>
                {{else}}<td style="color:green"><strong>Hoạt động</strong></td>{{/if}}
                <td>
                  <div style="text-align: center;">
                    <a href="/user/{{_id}}" class="details"><i class="material-icons" data-toggle="tooltip" title="Details">&#xE88E;</i></a> 
                  </div>
                </td>
              </tr>   
              {{/each}}
            </tbody>
            </table>
            <div class="span12">
            <div class="pagination pagination-right alternate">
              <ul>
                {{#if havePreviousPage}}
                <li><a href="{{pageLink}}?page=1">First</a></li>
                <li><a href="{{pageLink}}?page={{previousPage}}">{{previousPage}}</a></li>
                {{/if}}

                <li class="active"><a href="#">{{page}}</a></li>

                {{#if haveNextPage}}
                <li><a href="{{pageLink}}?page={{nextPage}}">{{nextPage}}</a></li>
                <li><a href="{{pageLink}}?page={{lastPage}}">Last</a></li>
                {{/if}}
              </ul>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



