
<div id="content">
  <div id="content-header">
    <ul class="breadcrumb">
      <li><a href="/">Home</a> <span class="divider">/</span></li>
      <li class="active"><a href="{{pageLink}}">{{title}}</a></li>
    </ul>
  </div>  

  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <div class="row-fluid user-infos myUsername">

          <!-- User information -->
          <div class="span8 offset1">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Chi tiết đơn đặt hàng</h3>
              </div>
              <div class="panel-body">
                <div class="row-fluid" style="margin: 0;">
                  <div class="span10">
                    <table class="table table-condensed table-responsive table-user-information">
                      <tbody>
                      <tr>
                          <td><strong>Tên khách hàng</strong></td>
                          <td>{{order.user.fullname}}</td>
                      </tr>
                      <tr>
                          <td><strong>Số điện thoại</strong></td>
                          <td>{{order.phonenum}}</td>
                      </tr>
                      <tr>
                          <td><strong>Địa chỉ</strong></td>
                          <td>{{order.address}}</td>
                      </tr>
                      <tr>
                          <td><strong>Ngày giao</strong></td>
                          <td>{{dateToString order.date}}</td>
                      </tr>
                      <tr>
                          <td><strong>Tổng giá</strong></td>
                          <td><strong>{{formatPrice order.total_price_all}}</strong></td>
                      </tr>
                      <tr>
                          <td><strong>Tình trạng</strong></td>
                          <td style="font-weight:700;color:red">{{order.status}}</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="panel-footer" style="text-align: right;">
                {{#if orderStatus.waitingForProduct}}
                {{else}}
                 <a class="btn btn-primary" type="button"
                    href="/order/{{order._id}}/updateStatus/1"
                    data-toggle="tooltip"
                    data-original-title="Bỏ chặn">Chờ lấy hàng</a>
                {{/if}}

                {{#if orderStatus.deliveringProduct}}
                {{else}}
                 <a class="btn btn-warning" type="button"
                    href="/order/{{order._id}}/updateStatus/2"
                    data-toggle="tooltip"
                    data-original-title="Bỏ chặn">Đang giao hàng</a>
                {{/if}}

                {{#if orderStatus.receivedProduct}}
                {{else}}
                 <a class="btn btn-success" type="button"
                    href="/order/{{order._id}}/updateStatus/3"
                    data-toggle="tooltip"
                    data-original-title="Bỏ chặn">Đã nhận hàng</a>
                {{/if}}

              </div>
            </div>
          </div>
        </div>
        </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <div class="widget-content nopadding">  
          <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover data-table">
            <thead>
              <tr>
                <th class="col-name" style="border: 1px solid #ddd;padding:10px">Tên sản phẩm</th>
                <th class="col-description" style="border: 1px solid #ddd;padding:10px">Đơn giá</th>
                <th class="col-action" style="border: 1px solid #ddd;padding:10px">Số lượng</th>
                <th class="col-action" style="border: 1px solid #ddd;padding:10px">Thành tiền</th>
              </tr>
            </thead>
            <tbody>
              {{#each orderProduct}}
                <tr class="gradeA">
                  <td><strong>{{name}}</strong></td>
                  <td>{{formatPrice price}}</td>
                  <td>{{quantity}}</td>
                  <td>{{formatPrice total_price}}</td>
                </tr>
              {{/each}}
            </tbody>
            </table>
          </div>
          <div class="span12">
            <div class="pagination pagination-right alternate">
              <ul>
                {{#if havePreviousPage}}
                <li><a href="/order/{{order._id}}?page=1&">First</a></li>
                <li><a href="/order/{{order._id}}?page={{previousPage}}">{{previousPage}}</a></li>
                {{/if}}

                <li class="active"><a href="#">{{page}}</a></li>

                {{#if haveNextPage}}
                <li><a href="/order/{{order._id}}?page={{nextPage}}">{{nextPage}}</a></li>
                <li><a href="/order/{{order._id}}?page={{lastPage}}">Last</a></li>
                {{/if}}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



