
<div id="content">
  <div id="content-header">
    <ul class="breadcrumb">
      <li><a href="/">Home</a> <span class="divider">/</span></li>
      <li class="active"><a href="{{pageLink}}">{{title}}</a></li>
    </ul>
    <div class="row-fluid">
      <div class="search-bar" style="margin-bottom: 20px;">
        <div class="span3">
          <div class="span6" style="text-align: start;">
            <a href="/product/add" class="btn btn-success align-items-end" style="margin-right: 40px;width: 50px;height: 20px">
              <div class="row">
                <div class="span6">
                  <i style="font-size: 21px;padding-left:10px; margin-left:15px" class="material-icons">&#xE147;</i> 
                </div>
                <div class="span6">
                  <span style="box-sizing: border-box;margin-left:5px">Thêm</span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="span9">
          <form action="{{pageLink}}" method="GET" class="form-search">
            {{#strInclude pageLink "/category/" }}
            <label for="brand" style="margin-right: 10px">Thương hiệu</label>
            <select id="brand" name="brand">
              <option value="All" selected>Tất cả</option>
              {{#each listBrandInCategory}}
              <option value={{_id}} {{#idEquals _id ../brandId}}selected{{/idEquals}}>{{name}}</option>
              {{/each}}
            </select>
            {{/strInclude}}
            <input type="text" class="input-medium search-query" name="name" value="{{searchText}}">
            <button type="submit" class="btn btn-primary">Tìm</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <div class="widget-content nopadding">  
          <div class="table-responsive">    
            <table class="table table-bordered table-striped table-hover data-table main-data-table">
            <thead>
              <tr>
                <th class="col-name" style="border: 1px solid #ddd;padding:10px">Tên</th>
                <th class="col-description" style="border: 1px solid #ddd;padding:10px">Mô tả</th>
                <th class="col-price" style="border: 1px solid #ddd;padding:10px">Giá</th>
                <th class="col-discount" style="border: 1px solid #ddd;padding:10px">Khuyến mãi</th>
                <th class="col-brand" style="border: 1px solid #ddd;padding:10px">Thương hiệu</th>
                <th class="col-category" style="border: 1px solid #ddd;padding:10px">Loại</th>
                <th class="col-images" style="border: 1px solid #ddd;padding:10px">Hình ảnh</th>
                <th class="col-view-count" style="border: 1px solid #ddd;padding:10px">Số người xem</th>
                <th class="col-sell-count" style="border: 1px solid #ddd;padding:10px">Số lượng bán</th>
                <th class="col-action" style="border: 1px solid #ddd;padding:10px">Chỉnh sửa</th>
              </tr>
            </thead>
            <tbody>
              {{#each listProduct}}
              <tr class="gradeA">
                <td><strong>{{name}}</strong></td>
                <td>{{description}}</td>
                <td>{{formatPrice price}}đ</td>
                <td>{{discount}}</td>
                <td>{{brand.name}}</td>
                <td>{{category.name}}</td>
                <td>
                  {{#each images_sources}}
                  <a href="{{this.url}}" target="_blank">
                    <img class="img-list-thumbnail" src="{{this.url}}" alt="product-image">
                  </a>
                  {{/each}}
                </td>
                <td>{{view_count}}</td>
                <td>{{sell_count}}</td>
                <td>
                  <div style="text-align: center;">
                    <a href="/product/edit/{{_id}}" class="edit"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                    <a href="/product/delete/{{_id}}" class="delete"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>     
                  </div>
                </td>
              </tr>
              {{/each}}
            </tbody>
            </table>
            <div class="span12">
            <div class="pagination pagination-right alternate">
              <ul>
                {{#if havePreviousPage}}
                <li><a href="{{pageLink}}?page=1&name={{searchText}}&brand={{brandId}}">First</a></li>
                <li><a href="{{pageLink}}?page={{previousPage}}&name={{searchText}}&brand={{brandId}}">{{previousPage}}</a></li>
                {{/if}}

                <li class="active"><a href="#">{{page}}</a></li>

                {{#if haveNextPage}}
                <li><a href="{{pageLink}}?page={{nextPage}}&name={{searchText}}&brand={{brandId}}">{{nextPage}}</a></li>
                <li><a href="{{pageLink}}?page={{lastPage}}&name={{searchText}}&brand={{brandId}}">Last</a></li>
                {{/if}}
              </ul>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



